*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    }

.head{
    background-image: url("../img/Banner\ Image.png");
    background-size: cover;
   background-repeat: no-repeat;
   width: 1320px;
   height: 600px;
   color: #070211, 
    
}

.heading-text{
    padding-top: 150px;
}
   

.div-1{
    color:yellowgreen;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    
}
.div-2{
   
    color: green;
    font-size: 45px;
    font-weight: 900;
     text-align: center;
     width: 600px;
   margin-left:  400px;
    
    }

    /* 65% OFF style */
.new-catagory{
        text-align: center;
    }
 .parcentice{
        color: #F00;
        font-size: 60px;
        font-weight: 700;
        padding: 5px;
}

.new-pragraph{
    color: #F00;
    font-size: 15px;
    font-weight: 500;
 }
 .CATEGORIES{
        color: #070211;
        font-size: 30px;
        font-weight: 700;
    
    }
.new-year-img{
    width: 300px;
     height: 00px;
 
}
/* banner-area style */
.banner-area{
    background-image: url(../img/Vectorrr.png);
    
    height: 600px;
     background-size: cover;
     background-repeat: no-repeat;
     /* margin-left: 250px; */
background-color: rgb(27, 12, 12)  #070211 0%,;

}

.banner-pragraph{
    color: #FFF;
    font-size: 54px;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    width: 542px;
  
    padding-top: 150px;
    margin-left: 200px;
   
   
}
.new-pragraph-2{
    color: rgba(255, 255, 255, 0.80);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    width: 600px;
margin-left: 200px;


}
/* .button {
    background-color: #FD6F00;
   margin: auto;
    margin-top: 10px;
    padding: 5px;
    
} */


 .button{
    margin:0px 500px 0px 200px; 
    
}
.button a{
    text-decoration: none;
}

/* shedul section */

 .shedul-section{
   
    width: 800px;
    height: 400px;
    margin: 25px auto; 
    background-color: #FFEDED;
    text-align: center;
   text-transform: lowercase;
   
 }
 .text{
   padding-top: 100px;
 }
 span{
    color: #F00;
 }
 .nam{
    text-transform: uppercase;
    color:#F00;
 }
 
 .btn{
     margin: 5px auto;
    background-color: #F00;
    padding: 5px;
 }

/* new best offer section start */
.best-offer-section{
    display: flex;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    background-color: #FFEDED;
}
.new-offer{
    margin-top: 70px;
}
.new-offer p{
    color: #F00;
    font-size: 15px;
    padding: 5px;
}
.new-offer h4{
    color: #070211;
    font-family: Merriweather;
    font-size: 25px;
    font-weight: 600;
    width: 150px;
 
}
.second-offer {
    border-radius: 220px;
    border: 10px solid #F00;
}
.imges {
    padding: 5px; 
} 
small{
     color: rgba(7, 2, 17, 0.60);
font-size: 15px;
font-weight: 400;

}
.third-offer {
      margin:70px 10px;
}
.third-offer h4{

color: #F00;
font-size: 25px;
font-weight: 600;

}
.photo{
    width: 70px;
height: 70px;
flex-shrink: 0;
}

/* WHAT IS FUNCTIONAL section start */

.sale-section{
    text-align: center;
    margin:30px auto;
    width:  800px;
    height: 400px;
    background-image: url(../img/Rectangle\ 1.png);
    background-repeat: no-repeat;
    background-position: center;
     background-position-x: bottom;
     background-color: floralwhite;

}
.text-title{
    width:100px ;
    height: 50px;
   
}
span{
    color: #F00;
}
.Rectangle{
    margin-top: 250px;
    width: 800px;
    height: 60px;
   
}

/* Our Awesome Portfolio section start */

.awesome-portfolio{
    margin:10px auto;
    width:  800px;

  
}
.text{
    color: #F00;
    font-size: 15px;
}
h3{
    font-family: Merriweather;
}
.p-text{
    color: rgba(7, 2, 17, 0.60);
    width: 600px;
    height: 10px;
}

 /* subcriber section style */

.subcriber{
    margin: 40px auto;
    width: 800px;
    text-align: center;
    background-color: #FFEDED;
}

.gmail{
    margin-top:40px;
    width: 100px;
    height: 75px;
   
}
.subcriber-text{
    color: #070211;
font-family: Merriweather;
font-size: 28px;
font-weight: 900;
}
.text-aria{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
     width: 520px;
     margin-left:80px;
}
.input{
    width: 548px;
    height: 42px;
    margin-bottom: 20px;
    margin: 5px;
border-radius: 50px;
background-color: #FFF;

}
.lst-btn{
    width: 80px;
    height: 42px;
    border-radius: 50px;
    background-color: #F00;
}
/* footer styles */
.footer{
    width: 800px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: gray;
}

.fotter-1{
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    width: 220px;
    margin: 40px;
    
}
.fast-text{
    color: #FFF;
   
    font-size: 10px;
    font-weight: 400;
    width: 220px;
    margin: 40px 40px 0px 40px;
    padding: 5px;  
}

.second-text{
    color: #FFF;
    
    font-size: 10px;
    font-weight: 400;
    width: 220px;
    margin: 5px 10px 10px 15px;

}

.social-photo{
    display: flex;
    width: 34px;
    height: 34px;
    margin-top: 200px;
    margin-right: 150px;

}
.fb{
    padding: 5px;
}
.copy{
    color: white;
} 